/*Carousel*/
.carousel-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;

}
.carousel-caption{
    padding-bottom: 0;
}
.container.main {
    padding-top: 32px;
    border-left: 3px ;
    border-right: 3px ;
    background-color: black;
    padding-bottom: 3%;
}

body{
    background-color: black;
}

.custom-caption {
    width: 50%;
    bottom: 0;
    left: 0;
    padding-bottom: 5%;

}
/*Button Watch Now*/
.button-watch-now {
    --primary-color: #DAA520;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 30px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

.button-watch-now .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-watch-now .arrow {
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.button-watch-now .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.button-watch-now:hover {
    background-color: var(--hover-color);
}

.button-watch-now:hover .arrow {
    background: var(--secondary-color);
}

.button-watch-now:hover .arrow:before {
    right: 0;
}

/*Button Bookmark*/
.button-bookmark{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1c1c1c; /* màu đen mờ */
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease;
}
.button-bookmark i {
    color: white;
    font-size: 22px;
}

.button-bookmark:hover {
    background-color: #333;
}
.button-bookmark:hover i {
    color: #DAA520;
}


.rounded{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.border-top{
    border-color: #DAA520;
}
.scroll-top-btn {
    width: 50px;
    height: 50px;
    font-size: 24px; /* tăng icon */
}
/*Trending Now*/
.slider-track {
    display: flex;
    transition: transform 0.5s ease;
}

.number-overlay {
    position: absolute;
    bottom: 5px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 4px black;
    -webkit-text-stroke: 2px #DAA520;
}

.slider-track {
    display: flex;
    gap: 8px;
    padding: 16px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

}
.slider-track::-webkit-scrollbar {
    display: none;
}
/*Genre*/
.genre-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: blur(3px);
}
.genre-div{
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.genre-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    bottom: 5px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 4px black;
    -webkit-text-stroke: 2px #DAA520;
}
.genre-div:hover .genre-img {
    filter: brightness(1.2) blur(2px);
}
.movie-type{
    position: absolute;
    bottom: 5px;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 4px black;
    background: red;
}
@media (max-width: 740px) {
    .custom-caption .movie-info{
        display: none !important;
    }

    .custom-caption{
        padding-left: 10%;
    }

    .title-movie{
        max-width: 120%;
        object-fit: cover;
    }
    .button-watch-now {
        padding: 0.6em 1.2em;
        font-size: 0.7em;
        gap: 0.4em;
        border-radius: 20px;
        z-index: 2;

    }

    .button-watch-now .arrow {
        --arrow-width: 8px;
        --arrow-stroke: 1.5px;
    }

    .button-bookmark {
        width: 44px;
        height: 44px;
    }

    .button-bookmark i {
        font-size: 18px;
    }

    .slider-item {
        min-width: 90px;
        margin-left: 10px;
    }

    .number-overlay {
        font-size: 50px;
        left: -15px;
    }
    .carousel-control-prev, .carousel-control-next{
        display: none;
    }
    .footer{
        display: none;
    }
    .search-container:focus-within .search-input {
        width: 10rem;
    }
    .nav-item.dropdown .dropdown-menu {
        width: 25rem;
    }
    .genre-div{
        min-width: 160px;
        height: 90px;
        margin-left: 0;
    }
    .genre-name{
        font-size: 27px;
    }

}

@media (min-width: 741px) and (max-width: 1240px) {
    .custom-caption .movie-info{
        font-size: 10px;
    }

    .title-movie{
        max-width: 80%;
        object-fit: cover;
    }
    .slider-item {
        min-width: 145px;
        margin-left: 10px;
    }

    .number-overlay {
        font-size: 70px;
        left: -15px;
    }
    .carousel-control-prev, .carousel-control-next{
        display: none;
    }
    .footer{
        display: none;
    }
    .genre-div{
        min-width: 250px;
    }
}

@media (min-width: 1241px) {
    .custom-caption .movie-info{
        font-size: 17px;
    }

    .title-movie{
        max-width: 60%;
        object-fit: cover;
    }
    .number-overlay{
        font-size: 110px;
        left: -30px;

    }
    .slider-item {
        min-width: 190px;
        margin-left: 20px;
    }
    .carousel-control-prev{
        max-width: 100px;

    }
    .carousel-control-next{
        max-width: 100px;
    }
    .slider-track{
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }
    .genre-div{
        min-width: 282px;
    }

}

.movie-type{
    position: absolute;
    bottom: 5px;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 4px black;
    background: red;
}