.content{
    padding: 0 3%;
}

.card{
    padding: 0 0;
    background-color: #111111;
}
.card-img-top{
    min-height: 80%;
    object-fit: cover;
}
.search-list{
    padding-left: 2%;
    flex-wrap: wrap;
}

.card-title{
    font-size: 1em;
    font-weight: bold;
    color: #DAA520;
}
.pagination{
    padding-top: 3%;

}
.page-link {
    background-color: #111111;
    color: #DAA520;
    font-size: 20px;
}
.page-link:focus {
    color: black ;
}
.active > .page-link {
    background-color: white !important;
    color: #111111 !important;
    font-size: 20px !important;
    border-color: white !important;
}


.list-group{
    margin-bottom:5% ;
}

.search-form .search{
    width: 100%;
    opacity: 1;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 30px;
}
.genre-search{
    width: fit-content;
    border: 1px solid #666;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.genre-search input{ display: none; }
.genre-search label{
    font-family: sans-serif;
    padding: 10px 16px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s;
}
.genre-search label:last-of-type{ border-right: 0; }
.genre-search label:hover{
    background: #eee;
}
.genre-search input:checked + label{
    background: #becbff;
}

@media (max-width: 740px){
    .card{
        width: 17vh;
    }
    .search-list{
        padding: 0 5%;
        justify-content: space-between;
    }

}
@media (min-width: 741px) and (max-width: 1240px){
    .card{
        width: 13rem;
    }
    .search-list{
        gap:30px;

    }

}

@media (min-width: 1241px){
    .card{
        width: 26vh;
    }
    .search-list{
        gap: 30px;

    }

}