.carousel-img {
    width: 100%;
    height: 700px;
    object-fit: cover;

}
.carousel-caption{
    padding-bottom: 0;
}
.container.main {
    padding-top: 32px;
    border-left: 3px ;  /* viền trái màu trắng mờ */
    border-right: 3px ; /* viền phải */
    background-color: black; /* tùy chọn làm nền mờ nhẹ */
}

body{
    background-color: black;
}

.custom-caption {
    bottom: 100px;
    left: 20px;
    right: auto;
    text-align: center;
}
.title-movie{
    width: 400px;
    object-fit: cover;
}
/*Button Watch Now*/
.button-watch-now {
    --primary-color: #DAA520;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 30px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

.button-watch-now .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-watch-now .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.button-watch-now .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.button-watch-now:hover {
    background-color: var(--hover-color);
}

.button-watch-now:hover .arrow {
    background: var(--secondary-color);
}

.button-watch-now:hover .arrow:before {
    right: 0;
}

/*Button Bookmark*/
.button-bookmark{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1c1c1c; /* màu đen mờ */
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease;
}
.button-bookmark i {
    color: white;
    font-size: 22px;
}

.button-bookmark:hover {
    background-color: #333;
}
.button-bookmark:hover i {
    color: #DAA520;
}
/*Login and Sign Up Form*/
.form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #DAA520;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 300px;
    max-width: 500px;

}

.form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"] {
    border-radius: 0.5rem;
    padding: 0.75rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
    outline: 2px solid var(--clr);
}

.label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
}

.form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
}

.form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
}

.span {
    text-decoration: none;
    color: var(--bg-dark);
}

.span a {
    color: var(--clr);
}
.modal-body{
    margin: 20px 30px;
}
.modal-md{
    width: 400px;
}

.number-overlay {
    position: absolute;
    bottom: 5px;
    left: -30px;
    font-size: 110px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 4px black;
    -webkit-text-stroke: 2px #DAA520;
}
.rounded{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.position-relative{
    width: 200px;
    height: 300px;
}
.logo{

    height: 50px;
    object-fit: cover;
}

.border-top{
    border-color: #DAA520;
}
.scroll-top-btn {
    width: 50px;
    height: 50px;
    font-size: 24px; /* tăng icon */
}

